<h1>Sequencias de Quinas:</h1>
            
<hr>
{{#each objetos}}
    <div>
        <p>Numeros: <strong>{{sequencia}}</strong></p>
        <p>Concurso: <strong>{{concurso}}</strong></p>
        <a href="/admin/editarSequencia/quina/{{_id}}"><button>Editar</button></a>
        <a href="/admin/deletarSequencia/quina/{{_id}}"><button>Deletar</button></a>
    </div>
    <hr>
    
{{else}}
{{/each}}